body{
    background-image: url(../images/xyz.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
   font-color:
}
